apiVersion: apps/v1
kind: Deployment
metadata:
  name: serenaid-backend
  labels:
    app: serenaid-backend
spec:
  selector:
    matchLabels:
      app: serenaid-backend
  template:
    metadata:
      labels:
        app: serenaid-backend
    spec:
      containers:
      - name: serenaid-backend
        image: gcr.io/serenaid-421315/serenaid-backend
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "4Gi"
            cpu: "1"
          limits:
            memory: "32Gi"
            cpu: "8"
