apiVersion: v1
kind: Service
metadata:
  name: serenaid-backend-service
spec:
  selector:
    app: serenaid-backend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: LoadBalancer
